<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update Chi Tiết Sản Phẩm</title>
    <link rel="stylesheet" type="text/css" href="./styles/main.css">
    <!-- CSS Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- JavaScript Bootstrap (với Popper.js) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <h1>Update Chi Tiết Sản Phẩm </h1>
        <form th:action="@{/sanpham/updatectsanpham}" method="post" enctype="multipart/form-data">
            <input th:type="hidden" name="id" th:value="${id}" />
            <input th:type="hidden" name="idctsp" th:value="${detailCTSP.id}" />

            <div class="row mb-3">
                <div class="col-6 mb-3">
                    <label class="form-label">Tên sản phẩm</label>
                    <input th:type="text" class="form-control" style="width: 300px; text-align: center" th:value="${detailCTSP.tenSanPham}" name="idSanPham" readonly>
                </div>
                <div class="col-6 mb-3">
                    <label class="form-label">Hãng</label>
                    <div class="row">
                        <div class="col-8">
                            <select class="form-select" style="width: 300px" aria-label="Default select example" name="hang">
                                <option th:each="hang : ${comboxHang}" th:value="${hang.idhang}" th:selected="${detailCTSP.tenHang == hang.tenhang}"
                                        th:text="${hang.tenhang}"></option>

<!--                                <c:forEach items="${comboxHang}" var="hang"><option value="${hang.idhang}"-->
<!--                                    <c:if test="${detailCTSP.tenHang == hang.tenhang}">selected</c:if>> ${hang.tenhang}</option></c:forEach>-->
                            </select>
                        </div>
                        <div class="col-4">
                            <button th:type="button" class="btn btn-primary">+ Hãng</button>
                        </div>
                    </div>
                </div>
                <div class="col-6 mb-3">
                    <label class="form-label">Size</label>
                    <div class="row">
                        <div class="col-8">
                            <select class="form-select" style="width: 300px" aria-label="Default select example" name="size">
                                <option th:each="size : ${comboxSize}" th:value="${size.id}" th:selected="${detailCTSP.tenSize == size.ten}" th:text="${size.ten}"></option>
                            </select>
                        </div>
                        <div class="col-4">
                            <button th:type="button" class="btn btn-primary">+ Size</button>
                        </div>
                    </div>
                </div>
                <div class="col-6 mb-3">
                    <label class="form-label">Danh mục</label>
                    <div class="row">
                        <div class="col-8">
                            <select class="form-select" style="width: 300px" aria-label="Default select example" name="danhMuc">
                                <option th:each="danhMuc : ${comboxDanhMuc}" th:value="${danhMuc.id}" th:selected="${detailCTSP.tenDanhMuc == danhMuc.ten}" th:text="${danhMuc.ten}"></option>
                            </select>
                        </div>
                        <div class="col-4">
                            <button th:type="button" class="btn btn-primary">+ Danh mục</button>
                        </div>
                    </div>
                </div>
                <div class="col-6 mb-3">
                    <label class="form-label">Chất liệu</label>
                    <div class="row">
                        <div class="col-8">
                            <select class="form-select" style="width: 300px" aria-label="Default select example" name="chatLieu">
                                <option th:each="chatLieu : ${comboxChatLieu}" th:value="${chatLieu.id}" th:selected="${detailCTSP.tenChatLieu == chatLieu.ten}" th:text="${chatLieu.ten}"></option>
                            </select>
                        </div>
                        <div class="col-4">
                            <button th:type="button" class="btn btn-primary">+ Chất liệu</button>
                        </div>
                    </div>
                </div>
                <div class="col-6 mb-3">
                    <label class="form-label">Màu sắc</label>
                    <div class="row">
                        <div class="col-8">
                            <select class="form-select" style="width: 300px" aria-label="Default select example" name="mauSac">
                                <option th:each="mauSac : ${comboxMauSac}" th:value="${mauSac.id}" th:selected="${detailCTSP.tenMauSac == mauSac.ten}" th:text="${mauSac.ten}"></option>
                            </select>
                        </div>
                        <div class="col-4">
                            <button th:type="button" class="btn btn-primary">+ Màu sắc</button>
                        </div>
                    </div>
                </div>
                <div class="col-4 mb-3">
                    <label class="form-label">Giá nhập</label>
                    <input th:type="text" class="form-control" name="giaNhap" th:value="${detailCTSP.giaNhap}">
                </div>
                <div class="col-4 mb-3">
                    <label class="form-label">Giá bán</label>
                    <input th:type="text" class="form-control" name="giaBan" th:value="${detailCTSP.giaBan}">
                </div>
                <div class="col-4 mb-3">
                    <label class="form-label">Hình ảnh</label>
                    <input th:type="file" class="form-control" name="hinhAnh" accept="img/*">
                </div>
                <div class="col-4 mb-3">
                    <label class="form-label">Số lượng</label>
                    <input th:type="text" class="form-control" name="soLuong" th:value="${detailCTSP.soLuong}">
                </div>
                <div class="col-4 mb-3">
                    <label class="form-label">Mô tả</label>
                    <input th:type="text" class="form-control" name="moTa" th:value="${detailCTSP.moTa}">
                </div>
                <div class="col-4 mb-3">
                    <div class="form-group">
                        <label>Trạng Thái:</label>
                        <div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="trangThai" value="1" checked required>
                                <label class="form-check-label">Hoạt động</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="trangThai" value="0" >
                                <label class="form-check-label">Không hoạt động</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button th:type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>
</body>
</html>
