.pagination a {
    margin: 0 5px;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #ddd;
    color: #000;
}
.pagination a.disabled {
    pointer-events: none;
    color: #888;
}
.pagination span.current {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #ddd;
    color: #000;
}