
.pagination a.disabled {
    pointer-events: none;
    color: #888;
}
.pagination span.current {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #ddd;
    color: #000;
}
.pagination a {
    margin: 0 5px;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #ddd;
    color: #000;
}
.current-page {
    background-color: #656961; /* Màu nền của nút khi ở trang hiện tại */
    color: #413d3d; /* Màu chữ của nút khi ở trang hiện tại */

}
.inline-button{
    display: inline-block;
    margin-right: 5px;
}
/* Đặt padding và margin cho button */


