<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainUser.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thông tin sản phẩm</title>

    <!-- CSS Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- FontAwesome for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- JavaScript Bootstrap (with Popper.js) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</head>

<body>
<div layout:fragment="content">
    <!-- Thông báo thành công -->
    <div th:if="${message}">
        <script th:inline="javascript">
            /*<![CDATA[*/
            var errorMessage = /*[[${message}]]*/ 'null';
            if (errorMessage !== 'null') {
                Swal.fire({
                    icon: 'error',
                    title: 'Thất bại',
                    text: errorMessage,
                    confirmButtonText: 'OK'
                });
            }
            /*]]>*/
        </script>
    </div>
    <div th:if="${thanhcong}" >
        <script th:inline="javascript">
            /*<![CDATA[*/
            var successMessage = /*[[${message}]]*/ 'null';
            if (successMessage !== 'null') {
                Swal.fire({
                    icon: 'success',
                    title: 'Thành công',
                    text: successMessage,
                    confirmButtonText: 'OK'
                });
            }
            /*]]>*/
        </script>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-5">
                <img th:src="${detailsp.hinhAnh}" alt="Image" class="img-fluid rounded" style="max-height: 500px;">
            </div>
            <div class="col-sm-7">
                <h2 class="mb-3">Thông tin sản phẩm</h2>
                <h4 th:text="'Tên sản phẩm: ' + ${detailsp.tenSanPham} + ' '+ ${detailsp.tenHang} + ' '+ ${detailsp.tenChatLieu}"></h4>
                <h4 th:text="'Giá: ' + ${detailsp.giaBan}"></h4>
                <h4 th:text="'Còn hàng: ' + ${detailsp.soLuong}"></h4>

                <!-- Các button chọn Size -->
                <div id="sizeButtons" class="mb-3">
                    <form th:action="@{/trangchuuser/timkiemCTSP}" method="post">
                        <input type="hidden" name="idSanPham" th:if="${detailsp != null}" th:value="${detailsp.idSanPham}" />
                        <input type="hidden" name="idMauSac" th:if="${detailsp != null}" th:value="${detailsp.mauSac}" />
                        <input type="hidden" name="idChatLieu" th:if="${detailsp != null}" th:value="${detailsp.chatLieu}" />
                        <input type="hidden" name="idHang" th:if="${detailsp != null}" th:value="${detailsp.hang}" />
                        <input type="hidden" name="idDanhMuc" th:if="${detailsp != null}" th:value="${detailsp.danhMuc}" />

                        <span th:each="size : ${listSize}">
                            <button type="submit" name="idSize" th:value="${size.id}"
                                    th:text="${size.ten}"
                                    th:class="${size.ten == detailsp.tenSize} ? 'btn btn-secondary size-btn' : 'btn btn-outline-secondary size-btn'"
                                    th:disabled="${size.ten == detailsp.tenSize}">
                            </button>
                        </span>
                    </form>
                </div>

                <!-- Các button chọn Màu sắc -->
                <div id="mauSacButtons" class="mb-3">
                    <span th:each="ms : ${listMauSac}">
                        <form th:action="@{/trangchuuser/timkiemCTSP}" method="post">
                            <input type="hidden" name="idSanPham" th:if="${detailsp != null}" th:value="${detailsp.idSanPham}" />
                            <input type="hidden" name="idMauSac" th:if="${detailsp != null}" th:value="${ms.id}" />
                            <input type="hidden" name="idChatLieu" th:if="${detailsp != null}" th:value="${detailsp.chatLieu}" />
                            <input type="hidden" name="idHang" th:if="${detailsp != null}" th:value="${detailsp.hang}" />
                            <input type="hidden" name="idSize" th:if="${detailsp != null}" th:value="${detailsp.size}" />
                            <input type="hidden" name="idDanhMuc" th:if="${detailsp != null}" th:value="${detailsp.danhMuc}" />

                            <button type="submit" class="color-btn"
                                    th:text="${ms.ten}"
                                    th:classappend="${ms.ten == detailsp.tenMauSac} ? 'btn btn-secondary color-btn' : 'btn btn-outline-secondary color-btn'"
                                    th:disabled="${ms.ten == detailsp.tenMauSac}">
                            </button>
                        </form>
                    </span>
                </div>

                <!-- Các button Thanh toán và Thêm vào giỏ hàng -->
                <div class="mb-3">

                    <form th:action="@{/giohang/addGHCT}" method="post" class="d-inline">
                        <input class="form-control" type="number" name="soluongmua" th:value="1" style="margin-bottom: 10px;width: 300px" required/>
                        <br>
                        <input type="hidden" name="idctsp" th:if="${detailsp != null}" th:value="${detailsp.id}"/>
                        <input type="hidden" name="soluongkho" th:if="${detailsp != null}" th:value="${detailsp.soLuong}"/>
                        <input type="hidden" name="giaBan" th:if="${detailsp != null}" th:value="${detailsp.giaBan}"/>
                        <button type="submit" class="btn btn-secondary ms-2">Thêm vào giỏ hàng</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
